@charset "utf-8";


/*ポートフォリオ画面*/
.index-body {
    background-color: #e0ffff;
    text-align: center;
}

.index-h1 {
    text-align: center;
}

.index-h2 {
    text-align: center;
    color: #1e90ff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.large-text p {
    text-align: center;
    font-weight: bold;
}

.small-text p {
    text-align: center;
    margin-top: 30px;
}

.img img {
    text-align: center;
}
.center-box {
    text-align: center;
}
.application-link {
    display: inline-block;
    border: 5px solid #1e90ff;
    padding: 5px;
}
.application-link a {
    text-decoration: none;
}
.nav-link {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.nav-link a {
    padding: 10px 20px;
    text-decoration: none;
    color: #1e90ff; 

}


/*アカウント登録画面*/

.register-body {
    margin: 0;
    background-color: #e0ffff;
}

.register-container {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    position: relative;
}
.back-button{
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #a9a9a9;
    color: #000;
    text-decoration: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.back-button:active {
    background-color: #696969;
}

.register-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
}

.required-label {
    display: inline-block;
    background-color: transparent;
    color: #ff0000;
    font-size: 14px;
    text-decoration: none;
    padding: 2px 6px;
    border: 2px solid #ff0000;
    border-radius: 4px;
    margin-left: 8px;
}

.form-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 4px;
}

.register-button {
    background-color: #00bfff;
    cursor: pointer;
}

.register-button:hover {
    background-color: #1e90ff;
}

/*ログイン画面*/

.login-body {
    margin: 0;
    background-color: #e0ffff;
}

.login-container {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.login-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.login-button {
    background-color: #a9a9a9;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 24px;
}

.register-link a {
    color: #808080;
}

/*base画面*/

.footer-icon-label {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.disabled-link {
    color: #aaa;
    pointer-events: none;
}

.footer-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 16px;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    text-align: center;
    font-size: 14px;
}

.footer-nav li i {
    font-size: 18px;
    display: block;
    margin-bottom: 4px;
}

.footer-nav li a {
    color: #000;
    text-decoration: none;
}

.footer-nav .disabled-link {
    color: #999;
    pointer-events: none;
    opacity: 0.5;
}

/*home画面*/
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}
.home-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.home-title {
    font-weight: bold;
    color: #000;
    font-size: 20px;
}

.sort-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

/*予定表詳細画面*/

.schedule-detail-container {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.day-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    overflow-x: auto;
}

.day-tab {
    padding: 8px 12px;
    border: none;
    background-color: #a9a9a9;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.day-tab.active {
    background-color: #007bff;
}

.day-content {
    display: block;
}

.hidden{
    display: none;
}

.fa-solid {
    margin-right: 8px;
    font-size: 16px;
}

/*予定表追加モーダル*/
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
    display: none;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90px;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content input[type="text"],
.modal-content input[type="date"] {
    width: 250px;
    padding: 8px;
    box-sizing: border-box;
}


.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

.calendar-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.calendar-wrapper input {
    width: 100%;
    padding-right: 30px;
}

.calendar-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.transportation-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.transportation-option {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.transportation-option input {
    margin-right: 5px;
}

/*予定表追加モーダル PC用*/
@media screen and (min-width: 600px) {
    .modal-content {
    font-size: 16px;
    padding: 30px;
    width: 400px;
    }
    .modal-content input,
    .modal-content button {
        font-size: 16px;
    }
}

/*予定表追加モーダル スマホ用*/
@media screen and (min-width: 599px) {
    .modal-content {
    font-size: 14px;
    width: 90%;
    }
    .modal-content input,
    .modal-content button {
        font-size: 14px;
    }
    .image-preview{
        width: 80px;
        height: 64px;
    }
    .remove-picture {
        font-size: 14px;
        top: 0;
        right: 0;
    }
}

/*予定表追加 リンク、画像*/

.page-title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.category-fields {
    width: 90%;
    max-width: 600px;
    margin: 20px auto 40px auto;
    text-align: center;
}

.category-fields .btn-primary {
    display: block;
    margin: 40px auto 0 auto;
    background-color: #1e90ff;
    color: #000;
    padding: 10px 20px;
    border-radius: 6px;
}





/*予定表追加 リンク、画像 保留用*/
.link-form, .image-form {
    margin-bottom: 10px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-preview {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.remove-picture {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    display: none;
    font-size: 16px;
    color: #696969;
}
.category-radio input[type="radio"]{
    display: none;
}

.category-radio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 20px auto;
    max-width: 400px;
}

.category-radio label {
    display: inline-block;
    padding: 10px 16px;
    margin: 4px;
    border: 2px solid #888;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s;
}

.category-radio label:hover {
    background-color: #eee;
}

.category-label input[type="radio"]{
    display: none;
}

.category-label.category-move input[type="radio"]:checked + span {
    background-color: #87cefa;
    color: #000;
}
.category-radio input[type="radio"]:checked + label.category-label.category-sightseeing {
    background-color: #f0e68c;
    color: #000;
}
.category-radio input[type="radio"]:checked + label.category-label.category-meal {
    background-color: #f08080;
    color: #000;
}

.category-radio input[type="radio"]:checked + label.category-label.category-stay {
    background-color: #90ee90;
    color: #000;
}

.category-label {
    padding: 10px 15px;
    border: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*ラジオボタン非表示設定
input[type="radio"][name="action_category"],
.category-radio input[type="radio"] {
    display: none !important;
}*/