@charset "utf-8";


/*ポートフォリオ画面*/
.index-body {
    background-color: #e0ffff;
    text-align: center;
}

.index-h1 {
    text-align: center;
}

.index-h2 {
    text-align: center;
    color: #1e90ff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.large-text p {
    text-align: center;
    font-weight: bold;
}

.small-text p{
    text-align: center;
    margin-top: 30px;
}

.img img{
    text-align: center;
}
.center-box{
    text-align: center;
}
.application-link{
    display: inline-block;
    border: 5px solid #1e90ff;
    padding: 5px;
}

.nav-link{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.nav-link a{
    padding: 10px 20px;
    text-decoration: none;
    color: #1e90ff; 

}


/*アカウント登録画面*/

.register-body {
    margin: 0;
    background-color: #e0ffff;
}
.container {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.register-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
}

.form-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 4px;
}

.register-button {
    background-color: #00bfff;
    cursor: pointer;
}

.register-button:hover {
    background-color: #1e90ff;
}

/*ログイン画面*/

.login-body {
    margin: 0;
    background-color: #e0ffff;
}

.login-container {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.login-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.login-button {
    background-color: #a9a9a9;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 24px;
}

.register-link a {
    color: #808080;
}