{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block  title %}app{% endblock %}</title>
    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script>
        flatpickr.localize(flatpickr.l10ns.ja);
    </script>
</head>
<body>

    {% block content %}

    {% endblock %}

    <footer class="footer-nav">
        <ul>
            <li><a href="{% url 'app:home' %}"><i class="fas fa-home"></i><br>ホーム</a></li>
            
            {% if request.path == '/home/' %}
                <li><a href="#" id="openModalBtn"><i class="fas fa-plus-square"></i><br>予定表追加</a></li>
            {% elif request.path == '/app/schedule/' %}
                <li><a href="{% url 'app:plan_add' %}"><i class="fas fa-plus-square"></i><br>予定追加</a></li>
            {% else %}
                <li><span class="disabled-link">予定追加</span></li>
            {% endif %}

            <li><a href="{% url 'app:edit_profile' %}"><i class="fas fa-user-cog"></i><br>マイページ設定</a></li>
            <li><a href="{% url 'app:logout' %}"><i class="fas fa-sign-out-alt"></i><br>ログアウト</a></li>
        </ul>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const modal = document.getElementById("modal");
            const openBtn = document.getElementById("openModalBtn");
            const closeBtn = document.getElementById("closeModalBtn");
            const calendarIcon = document.querySelector(".calendar-icon");

            if (openBtn && closeBtn && modal) {
                openBtn.onclick = function () {
                    modal.classList.remove("hidden");
                };
                closeBtn.onclick = function () {
                    modal.classList.add("hidden");
                };
            }

            let fp = flatpickr("#dateRange", {
                mode: "range",
                dateFormat: "Y-m-d",
                locale: "ja",
                onChange: function(selectedDates, dateStr, instance) {
                    if (selectedDates.length === 2){
                        const start = selectedDates[0];
                        const end = selectedDates[1];
                        document.querySelector('input[name="trip_start_date"]').value = instance.formatDate(start, "Y-m-d");
                        document.querySelector('input[name="trip_end_date"]').value = instance.formatDate(end, "Y-m-d");
                    }
                }
            });


            if (calendarIcon) {
                calendarIcon.addEventListener("click", function () {
                    document.getElementById("dateRange").focus();
                });
            }

            let lastScrollY = window.scrollY;
            window.addEventListener('scroll', () => {
                const nav = document.querySelector('.footer-nav');
                if (!nav) return;

                if (window.scrollY > lastscrollY) {
                    nav.style.transform ='translateY(0)';
                }else {
                    nav.style.transform ='translateY(100)';
                }
                lastscrollY = window.scrollY;
            });
        });
    </script>
</body>
</html>