<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block  title %}app{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>
<body>

    {% block content %}

    {% endblock %}

    <footer class="footer-nav">
        <ul>
            <li><a href="{% url 'app:home' %}">ホーム</a></li>
            
            {% if request.path == '/app/home/' %}
                <li><a href="{% url 'app:schedule_add' %}">予定表追加</a></li>
            {% elif request.path == '/app/schedule/' %}
                <li><a href="{% url 'app:plan_add' %}">予定追加</a></li>
            {% else %}
                <li><span class="disabled-link">予定追加</span></li>
            {% endif %}

            <li><a href="{% url 'app:edit_profile' %}">マイページ設定</a></li>
            <li><a href="{% url 'app:logout' %}">ログアウト</a></li>
        </ul>
    
</body>
</html>