{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change-email-page</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <a href="{% url 'app:mypage' %}"class="back-button">＜戻る</a>

    <div class="change-container">
        <h1 class=change-title>メールアドレス変更</h1>

        <div class=user-title>現在のメールアドレス</div>
        <p class="username-text">{{ user.email }}</p>
        
        <form method='POST'>
            {% csrf_token %}
            <div class="change-row">
                <label class="change-title-form" for="{{ form.email.id_for_label }}">新しいメールアドレス</label><br>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <div class="change-button-wrapper">
                <button type="submit" class="change-submit-button">変更</button>
            </div>
        </form>


    </div>
</body>
</html>