{% extends 'app/base.html' %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="home-header">
        <div class="header-left"></div>
        <div class="header-center">
            <i class="fas fa-house"></i>
            <span class="home-title">予定表一覧</span>
        </div>
        <button class="sort-button">並び替え<br>（更新順）</button>
    </div>

    <div id="modal" class="modal hidden">
        <div class="modal-content">
            <span id="closeModalBtn" class="close">&times;</span>
            <h2>予定表追加</h2>
            <form method="POST" action="{% url 'app:home' %}">
                {% csrf_token %}
                <label>旅行タイトル</label><br>
                <input type="text" name="title" maxlength="50" required><br><br>

                <label>旅行期間</label><br>
                <div class="calendar-wrapper">
                    <i class="fas fa-calendar-alt calendar-icon"></i>
                    <input type="text" id="dateRange" name="trip_period" placeholder="日付を選択" readonly>
                    <input type="hidden" name="trip_start_date">
                    <input type="hidden" name="trip_end_date">
                </div><br>

                <button type="submit">保存</button>
            </form>
        </div>
    </div>

    <div>
        {% for schedule in schedules %}
            <a href="{% url 'app:schedule_detail' schedule.id %}" class="schedule-link">
                <div class="schedule-box">
                    <p><strong>{{ schedule.title }}</strong></p>
                    <p>{{ schedule.trip_start_date }} ～ {{ schedule.trip_end_date }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}