<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio page</title>
    <link rel="stylesheet" href="{% static "app/css/style.css" %}">
    <meta name="description" content="portfolio text">
</head>
<body class="index-body">
    <h1 class="index-h1">Travelschedule-ポートフォリオ</h1>
    <h2 class="index-h2">Travelschedule</h2>
    <div class="large-text">
        <p>Travelscheduleとは旅行予定表をスマホで作成でき、
        <br>旅行先で予定表・ＵＲＬ・写真を同一画面で表示できるアプリです。</p>
    </div>
    <div class="small-text">
        <p>このアプリを利用することで...
        <br>スケジュールや事前に調べた旅先の情報を一画面で確認できます。
        <br>必要な情報が整理されているため、旅行をより充実して楽しめます。
        </p>
    </div>

<!-- ↓アプリ画面の画像載せる(srcには相対パスか絶対パスいれる) -->
    <div class="center-img">
        <p class="img">
            <img src="" alt="アプリ画像">
        </p>
    </div>

<!-- ↓アプリのログイン画面ＵＲＬ載せる -->
    <div class="center-box">
        <p class="application-link">
            <a href="">アプリへ</a>
        </p>
    </div>

    <div class="nav-link">
        <a href="{% static 'app/portfolio-pdf/企画書.pdf'%}" target="_blank">企画書</a>
        <a href="{% static 'app/portfolio-pdf/画面設計図.pdf'%}" target="_blank">画面設計図</a>
        <a href="{% static 'app/portfolio-pdf/画面遷移図.drawio.pdf'%}" target="_blank">画面遷移図</a>
        <a href="{% static 'app/portfolio-pdf/ER図.drawio.pdf'%}" target="_blank">ＥＲ図</a>
    </div>
</body>
</html>