<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="description" content="login text">
</head>
<body class="login-body">
    <div class="login-container">
        <h1 class="login-title">Travel schedule</h1>
        <h2 class="login-subtitle">ログイン</h2>
            <form method="post" action="{% url 'app:login' %}" class="login-form">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="error">
                        {% for error in form.non_field_errors %}
                            <p class="login-error-message">{{ error|linebreaksbr }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="login-form-group">
                    <label for="{{ form.email.id_for_label }}">メールアドレス</label>
                    <div class="form-input">{{ form.email }}</div>
                    {% if form.email.errors %}
                        <div class="email-error">
                            {% for error in form.email.errors %}
                                <p>{{ error }},</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="login-form-group">
                    <label for="{{ form.password.id_for_label }}">パスワード</label>
                    <div class="form-input">{{ form.password }}</div>
                    {% if form.password.errors %}
                        <div class="password-error">
                            {% for error in form.password.errors %}
                                <p>{{ error }},</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

            <button type="submit" class="login-button">ログイン</button>
            </form>

            <p class=register-link><a href="{% url 'app:register' %}">アカウント登録</a></p>

    </div>
</body>
</html>