{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ form_title }}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!--<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script>
        flatpickr.localize(flatpickr.l10ns.ja);
    </script>-->


    <a href="{% url 'app:schedule_detail' schedule_id=schedule.id %}"class="back-button">＜戻る</a>
    <div class="plan-form-container">
        <h1 class="page-title">{{ form_title }}</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="category-radio"> 
                <label class="category-label category-move">
                    <input type="radio" name="action_category" value="move" />
                    <span>移動</span>
                </label>

                <input type="radio" name="action_category" value="sightseeing" id="category-sightseeing">
                <label for="category-sightseeing" class="category-label">観光地</label>

                <input type="radio" name="action_category" value="meal" id="category-meal">
                <label for="category-meal" class="category-label">食事</label>

                <input type="radio" name="action_category" value="stay" id="category-stay">
                <label for="category-stay" class="category-label">宿泊</label>
            </div>

            <!--移動カテゴリ-->
            <div class="category-fields" data-category="move" style="display: none;">
                <label class-"transportation-title">移動手段</label>
                <div class="transportation-options">
                    {{ form.transportation }}
                </div>

                <div class="form-group" id="move-start-date" >
                    <label id="move-start-date-label">出発日</label>
                    {{ form.start_date }}
                </div>

                <div class="form-group" id="move-start-time">
                    <label id="move-start-time-label">出発時刻</label>
                    {{ form.start_time }}
                </div>

                <div class="form-group" id="move-departure-location">
                    <label id="move-departure-location-label">出発地</label>
                {{ form.departure_location }}
                </div>

                <div class="form-group" id="move-end-date">
                    <label id="move-end-date-label">到着日</label>
                    {{ form.end_date }}
                </div>

                <div class="form-group" id="move-end-time">
                    <label id="move-end-time-label">終了時刻</label>
                    {{ form.end_time }}
                </div>

                <div class="form-group" id="move-arrival-location">
                    <label id="move-arrival-location-label">到着地</label>
                    {{ form.arrival_location }}
                </div>

                <div class="form-group" id="move-memo">
                    <label id="move-memo-label">メモ</label>
                    {{ form.memo }}
                </div>

                <div id="move-link-formset-container">
                    {{ link_formset.management_form }}
                    <!--{% for form in link_formset %}-->
                    <div class="move-link-form">
                        {{ link_formset.0.url }}
                            <!--<button type="button" class="remove-link">
                                <i class="fas fa-trash-alt"></i>
                            </button>-->
                    </div>
                    <!--{% endfor %}
                    <button type="button" id="move-add-link">＋リンクを追加</button>-->
                </div>

                <div id="move-picture-formset-container">
                    {{ picture_formset.management_form }}
                    <!--{% for form in picture_formset %}-->
                    <div class="move-picture-form">
                        {{ picture_formset.0.image }}
                            <!--<div class="image-preview-wrapper">
                                <img src="#" class="image-preview">
                                <span class="remove-picture" title="削除">&times;</span>
                            </div>-->
                    </div>
                    <!--{% endfor %}-->
                </div>
                <!--<button type="button" id="move-add-picture">＋画像を追加</button>-->

                <button type="submit" class="btn-primary">保存</button>
            </div>

            <!--観光地カテゴリ-->

            <div class="category-fields" data-category="sightseeing" style="display: none;">
                <div class="form-group" id="sightseeing-name">
                    <label id="sightseeing-name-label">観光地名</label>
                    {{ form.name }}
                </div>

                <div class="form-group" id="sightseeing-start-date">
                    <label id="sightseeing-start-date-label">滞在開始日</label>
                    {{ form.start_date }}
                </div>

                <div class="form-group" id="sightseeing-start-time">
                    <label id="sightseeing-start-time-label">滞在開始時刻</label>
                    {{ form.start_time }}
                </div>

                <div class="form-group" id="sightseeing-end-date">
                    <label id="sightseeing-end-date-label">滞在終了日</label>
                    {{ form.end_date }}
                </div>

                <div class="form-group" id="sightseeing-end-time">
                    <label id="sightseeing-end-time-label">滞在終了時刻</label>
                    {{ form.end_time }}
                </div>

                <div class="form-group" id="sightseeing-memo">
                    <label id="sightseeing-memo-label">メモ</label>
                    {{ form.memo }}
                </div>

                <div id="sightseeing-link-formset-container">
                    {{ link_formset.management_form }}
                    <!--{% for form in link_formset %}-->
                    <div class="link-form">
                        {{ link_formset.0.url }}
                            <!--<button type="button" class="remove-link">
                                <i class="fas fa-trash-alt"></i>
                            </button>-->
                    </div>
                    <!--{% endfor %}
                    <button type="button" id="sightseeing-add-link">＋リンクを追加</button>-->
                </div>

                <div id="sightseeing-picture-formset-container">
                    {{ picture_formset.management_form }}
                    <!--{% for form in picture_formset %}-->
                    <div class="picture-form">
                        {{ picture_formset.0.image }}
                            <!--<div class="image-preview-wrapper">
                                <img src="#" class="image-preview">
                                <span class="remove-picture" title="削除">&times;</span>
                            </div>-->
                    </div>
                    <!--{% endfor %}-->
                </div>
                <!--<button type="button" id="sightseeing-add-picture">＋画像を追加</button>-->

                <button type="submit" class="btn-primary">保存</button>
            </div>


            <!--食事カテゴリ-->
            <div class="category-fields" data-category="meal" style="display: none;">
                <div class="form-group" id="meal-name">
                    <label id="meal-name-label">店名</label>
                    {{ form.name }}
                </div>

                <div class="form-group" id="meal-start-date">
                    <label id="meal-start-date-label">食事日</label>
                    {{ form.start_date }}
                </div>

                <div class="form-group" id="meal-start-time">
                    <label id="meal-start-time-label">食事開始時刻</label>
                    {{ form.start_time }}
                </div>

                <div class="form-group" id="meal-end-time">
                    <label id="meal-end-time-label">食事終了時刻</label>
                    {{ form.end_time }}
                </div>

                <div class="form-group" id="meal-memo">
                    <label id="meal-memo-label">メモ</label>
                    {{ form.memo }}
                </div>

                <div id="meal-link-formset-container">
                    {{ link_formset.management_form }}
                    <!--{% for form in link_formset %}-->
                    <div class="link-form">
                        {{ link_formset.0.url }}
                            <!--<button type="button" class="remove-link">
                                <i class="fas fa-trash-alt"></i>
                            </button>-->
                    </div>
                    <!--{% endfor %}
                    <button type="button" id="meal-add-link">＋リンクを追加</button>-->
                </div>

                <div id="meal-picture-formset-container">
                    {{ picture_formset.management_form }}
                    <!--{% for form in picture_formset %}-->
                    <div class="picture-form">
                        {{ picture_formset.0.image }}
                            <!--<div class="image-preview-wrapper">
                                <img src="#" class="image-preview">
                                <span class="remove-picture" title="削除">&times;</span>
                            </div>-->
                    </div>
                    <!--{% endfor %}-->
                </div>
                <!--<button type="button" id="meal-add-picture">＋画像を追加</button>-->

                <button type="submit" class="btn-primary">保存</button>
            </div>

            <!--宿泊カテゴリ-->

            <div class="category-fields" data-category="stay" style="display: none;">
                <div class="form-group" id="stay-name">
                    <label id="stay-name-label">宿泊施設名</label>
                    {{ form.name }}
                </div>

                <div class="form-group" id="stay-start-date">
                    <label id="stay-date-label">滞在日</label>
                    {{ form.start_date }}～{{ form.end_date }}
                </div>

                <div class="form-group" id="stay-start-time">
                    <label id="stay-time-label">滞在時間</label>
                    {{ form.start_time }}～{{ form.end_time }}
                </div>

                <div class="form-group" id="stay-memo">
                    <label id="stay-memo-label">メモ</label>
                    {{ form.memo }}
                </div>

                <div id="stay-link-formset-container">
                    {{ link_formset.management_form }}
                    <!--{% for form in link_formset %}-->
                    <div class="link-form">
                        {{ link_formset.0.url }}
                            <!--<button type="button" class="remove-link">
                                <i class="fas fa-trash-alt"></i>
                            </button>-->
                    </div>
                    <!--{% endfor %}
                    <button type="button" id="stay-add-link">＋リンクを追加</button>-->
                </div>

                <div id="stay-picture-formset-container">
                    {{ picture_formset.management_form }}
                    <!--{% for form in picture_formset %}-->
                    <div class="picture-form">
                        {{ picture_formset.0.image }}
                            <!--<div class="image-preview-wrapper">
                                <img src="#" class="image-preview">
                                <span class="remove-picture" title="削除">&times;</span>
                            </div>-->
                    </div>
                    <!--{% endfor %}-->
                </div>
                <!--<button type="button" id="stay-add-picture">＋画像を追加</button>-->

                <button type="submit" class="btn-primary">保存</button>
            </div>


        </form>
    </div>

    <footer class="footer-nav">
        <ul>
            <li>
                <a href="{% url 'app:home' %}">
                    <span class="footer-icon-label">
                        <i class="fas fa-home"></i><br>ホーム
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'app:plan_create_or_edit' schedule_id=schedule_id %}">
                    <span class="footer-icon-label disabled-link">
                        <i class="fas fa-plus-square"></i><br>予定追加
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'app:edit_profile' %}">
                    <span class="footer-icon-label">
                        <i class="fas fa-user-cog"></i><br>マイページ設定
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'app:logout' %}">
                    <span class="footer-icon-label">
                        <i class="fas fa-sign-out-alt"></i><br>ログアウト
                    </span>
                </a>
            </li>
        </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const categoryRadios = document.querySelectorAll('input[name="action_category"]');
            const allCategoryForms = document.querySelectorAll('[data-category]');

            allCategoryForms.forEach(function (block) {
                block.style.display = "none";
                block.querySelectorAll("input, select, textarea").forEach(el => el.disabled = true);
            });

            categoryRadios.forEach(function (radio) {
                radio.addEventListener("change", function(){
                    const selected = this.value;

                    allCategoryForms.forEach(function (block) {
                        if (block.dataset.category === selected) {
                            block.style.display = "block";
                            block.querySelectorAll("input, select, textarea").forEach(el => el.disabled = false);
                        } else {
                            block.style.display = "none";
                            block.querySelectorAll("input, select, textarea").forEach(el => el.disabled = true);
                        }
                    });
                });
            });
            const checkedRadio = document.querySelector('input[name="action_category"]:checked');
            if (checkedRadio) {
                checkedRadio.dispatchEvent(new Event("change"));
            }
        });
    </script>
</body>
</html>