<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio page</title>
    <link rel="stylesheet" href="./style.css">
    <meta name="description" content="portfolio text">
</head>
<body>
    <h1>Travelschedule-ポートフォリオ</h1>
    <h2>Travelschedule</h2>
    <div class="large-text">
        <p>Travelscheduleとは旅行予定表をスマホで作成でき、旅行先で予定表・ＵＲＬ・写真を同一画面で表示できるアプリです。</p>
    </div>
    <div class="small-text">
        <p>このアプリを利用することで、スケジュールや事前に調べた旅先の情報を一画面でまとめて確認でき、
        画面の切り替えや検索の手間が減り、使いやすさが向上します。
        <br>
        予定表の内容は移動手段・観光地・食事施設・宿泊施設でカテゴリが分かれており、
        必要な情報が整理されることで旅行に集中でき、より充実した時間を過ごせます。
        </p>
    </div>

<!-- ↓アプリ画面の画像載せる(srcには相対パスか絶対パスいれる) -->
    <div class="img">
        <img src="" alt="アプリイメージ">
    </div>

<!-- ↓アプリのログイン画面ＵＲＬ載せる -->
    <p class="application-link">
        <a href="">アプリへ</a>
    </p>

<!-- ↓それぞれのpdf載せる -->
    <!--<p class="link">
        <a href="">企画書</a> {% endcomment %}
        <a href="">画面設計図</a>
        <a href="">画面遷移図</a>
        <a href="">ＥＲ図</a>
    </p> -->

</body>
</html>