<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio page</title>
    <link rel="stylesheet" href="./style.css">
    <meta name="description" content="portfolio text">
</head>
<body>
    <h1>Travelschedule-ポートフォリオ</h1>
    <h2>Travelschedule</h2>
    <div class="large-text">
        <p>Travelscheduleとは旅行予定表をスマホで作成でき、
        <br>旅行先で予定表・ＵＲＬ・写真を同一画面で表示できるアプリです。</p>
    </div>
    <div class="small-text">
        <p>このアプリを利用することで...
        <br>スケジュールや事前に調べた旅先の情報を一画面で確認できます。
        <br>必要な情報が整理されているため、旅行をより充実して楽しめます。
        </p>
    </div>

<!-- ↓アプリ画面の画像載せる(srcには相対パスか絶対パスいれる) -->
    <div class="img">
        <img src="" alt="アプリ画像">
    </div>

<!-- ↓アプリのログイン画面ＵＲＬ載せる -->
    <p class="application-link">
        <a href="">アプリへ</a>
    </p>

<!-- ↓それぞれのpdf載せる -->
    <!--<p class="link">
        <a href="">企画書</a>
        <a href="">画面設計図</a>
        <a href="">画面遷移図</a>
        <a href="">ＥＲ図</a>
    </p> -->

</body>
</html>